<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-widthm initial-scale=1" />
    <title>Natick T-Ball Scheduler</title>
    <!-- Latest compiled and minified CSS -->   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h2>Natick T-Ball 2017 <small>Schedule App</small></h2>
        <p>
          Use this website to find your who your child's team is playing and where, with maps to the fields. Should work on your phones, too.
          <br/>
          All games are at 5:45 pm
          <br/>
          The data on this website was last updated at 10 pm on Tuesday, May 9th, 2017. For the master schedule, go <a href="">here</a>.
        </p> 
      </div>
      <div id="nllscheduler"></div>
      <footer>
        This website was developed and is maintained as a courtesy by a Natick T-Ball parent to help parents check game schedules 
        and find fields. This website is not the property or responsibility of Natick T-Ball. All updates to the website's 
        functionality and content are done on a best effort basis. Please report any issues <a href="mailto:paul.j.summers@bc.edu">here</a>.        
      </footer>
    </div>
    <script src="/javascripts/nllscheduler-bundle.js"></script>
    <!-- -->
    <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=MapReady' async defer></script>
    
  </body>
</html>
