.page-header {
    background:rgba(255,0,0,0.25);
    border: rgba(0,0,255,1.0) solid 1px;
    padding: 2px 5px 0px 5px;
    border-radius: 5px;
}

.page-header.small {
    color:#0000ff;
}

.dateLabel {
    margin-left:10px;
}

footer {
    color: #aaaaaa;
}

